* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.skyblue {
  background-color: skyblue;
}

.leaflet-container {
  width: 700px;
  height: 400px;
}

.link-login {
  text-decoration: none;
}
.link-login:hover {
  text-decoration: underline;
}
